.featherlight .featherlight-content {
  margin-left: 0;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
  
.featherlight iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.featherlight .featherlight-close-icon {
  position: absolute;
  z-index: 9999;
  top: 45px;
  right: 40px;
  line-height: 25px;
  width: 25px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  color: #000;
  border: none;
  padding: 0;
  font-size: 40px;
  outline: none;
}