@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&family=Luxurious+Roman&family=Oswald:wght@200;400&family=Roboto:ital,wght@1,100;1,900&family=Zen+Kurenaido&display=swap');


*{
    font-family: 'Jost', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:#fff;
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
}

body{
    background:#333;
}

section{
    padding:0 7%;
}

.btn {
    position: relative;
    top: 20px;
    left: 300px;
    padding: 0.3rem 2rem;
    font-size: 1.5rem;
    /* margin-top: 1rem; */
    cursor: pointer;
    border: none;
    background: #333;
    color: #fff;
}
.btn:hover{
    background:#fff;
    color:#333;
}

.heading{
    text-align: center;
    font-size: 3rem;
    color:#fff;
    padding:2.5rem;
    padding-top: 8.5rem;
    width:50rem;
    margin:0 auto;
}

.eheading {
    font-size: 3rem;
    color: #fff;
    padding: 2rem;
    width: 50rem;
}

header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    background: none;
    z-index: 1000;
    padding:2rem 7%;
}

header .logo{
    font-size: 2.5rem;
    color:#fff;
}

header .logo img {
    position: relative;
    max-width: 70px;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li a{
    font-size: 2rem;
    margin-left: 2rem;
    color:#fff;
    position: relative;
}

header .navbar ul li a::before{
    content: '';
    position: absolute;
    bottom:-.5rem; right:0;
    height:.2rem;
    width:0%;
    background:#fff;
    transition: .2s linear;
}

header .navbar ul li a.active::before,
header .navbar ul li a:hover::before{
    left:0;
    width:100%;
}

header #menu{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:url(../images/home-img.jfif) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 9rem;
}

.home .image{
    padding:1rem;
    flex:1 1 40rem;
    text-align: center;
}

.home .image img {
    height: 70vh;
    padding-top: 4rem;
    margin-left: 6rem;
}

.home .home-content {
    padding: 1rem;
    flex: 1 1 40rem;
    margin-left: 5rem;
}

.home .home-content h1{
    font-size: 6rem;
    color:#fff;
}

.home .home-content span{
    color: rgb(160, 139, 249);
}

.home .home-content p{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
}

/* web */

.web{
    min-height: 100vh;
    background:#333;
    margin-bottom: 70px;
}

.web .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.web .row .image {
    position: relative;
    top: 50px;
    left: 15%;
    padding-bottom: 7rem;
}
.web .row .image img {
    width: 40%;
    border-radius: 2rem;
}

.web .row .home-content {
    padding-bottom: 2rem;
    padding-left: 10rem;
}

.web .row .home-content h1{
    font-size: 2.5rem;
    color:#fff;
}

.web .row .home-content p {
    font-size: 1.2rem;
    color: #eee;
    padding: 1rem 0;
}

.web .row .home-content p i{
    padding-right: .5rem;
    color:#637CBB;
}



/* skill */

.skill {
    min-height: 100vh;
    background: rgb(175, 175, 175);
}

.skill  .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.skill  .box-container .box{
    text-align: center;
    margin:1.5rem;
    padding:1rem;
    border:.2rem solid #fff;
    width:27rem;
}

.skill  .box-container .box:hover{
    background:rgb(160, 139, 249);
}

.skill  .box-container .box i{
    height:7rem;
    width:7rem;
    line-height: 7rem;
    text-align: center;
    border-radius: 50%;
    background:#fff;
    color:#333;
    font-size: 3rem;
    margin:1rem 0;
}

.skill  .box-container .box h3{
    color:#fff;
    font-size: 2.5rem;
}

.skill  .box-container .box p{
    color:#eee;
    font-size: 1.2rem;
    padding:1rem .5rem;
}


/* coding */

.coding {
    min-height: 100vh;
    background: #AFAFAF;
    padding-bottom: 80px;
}

.coding .myslider {
    width: 1120px;
    margin: auto;
    padding-bottom: 1rem;
}

.coding .myslider > div{
    /* margin-top: 20px; */
    height: 180px;
    color: #fff;
    background: #fff;
    opacity: 0.9;
}

.coding .myslider > div img{
    width: 100%;
    height: 100%;
}
.coding .myslider > div img:hover{
    transform: scale(1.2);
}

.coding .myslider > div:hover{
    opacity: 1;
}


/* slider-arrow */
.myslider{
    position: relative;
}

.myslider .prev-arrow {
    position: absolute;
    top: 45%;
    left: -35px;
    color: #fff;
    /* width: 100%; */
    /* height: 100px; */
    /* line-height: 50px; */
    cursor: pointer;
    /* font-weight: 500; */
    z-index: 111;
}

.myslider .next-arrow{
    position: absolute;
    top: 40%;
    right: -80px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    z-index: 111;
}

.etitle{
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 10px;
}
.etitle span{
    color: #A08BF9;
}  
.etext{
    padding-bottom: 50px;
    font-size: 0.5rem;
    font-weight: 300;
    color: #fff;
}



/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:-120%; left: 0;
        width:100%;
        background:#fff;
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem;
    }

    header .navbar ul li{
        width:100%;
        text-align: center;
    }

    header .navbar ul li a{
        display: block;
        background:rgb(160, 139, 249);
        margin:1rem 0;
        padding:1rem;
        font-size: 2.5rem;
        z-index: 0;
    }

    header .navbar ul li a::before{
        height:100%;
        bottom:0;
        z-index: -1;
        background:#333;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle{
        top: 7.4rem;
    }

    .home .home-content p {
        padding: 10rem 0;
    }

    .home .home-content{
        text-align: center;
    }

    .home .home-content h1 {
        padding-top: 10rem;
    }

    .home .image {
        text-align: center;
    }

    .home .image img {
        display: none;
    }

    .coding {
        padding-bottom: 5rem;
    }

    .coding .myslider {
        width: 300px;
        margin: auto;
        margin-bottom: 1rem;
    }

    .coding .myslider > div img {
        width: 100%;
    }

    .skill .box-container {
        margin-bottom: 3rem;
        padding-bottom: 100px;
    }

    .etitle {
        padding: 10px 5px;
    }

    .etext {
        padding: 30px 1.5em;
        font-size: 0.5rem;
    }

    .web .row .image {
        position: relative;
        top: 50px;
        left: 13%;
        padding-bottom: 12rem;
    }

}

@media (max-width:500px){

    html{
        font-size: 50%;
    }

    .home .home-content h1 {
        font-size: 3.5rem;
        margin-right: 4rem;
        padding-top: 15rem;
    }
    
    .home .home-content p {
        font-size: 1.5rem;
        margin-right: 4rem;
        word-break: keep-all;
    }

    .home .image img {
        display: none;
        /* height: 50vh;
        padding: 1.5rem;
        margin-bottom: 4rem;
        padding-right: 4rem;
        margin-right: 4rem; */
    }

    .heading{
        width: auto;
    }

    .coding {
        padding-bottom: 50px;
    }

    .coding .box-container .box{
        flex-flow: column;
    }

    .coding .box-container .box .image img{
        width:85%;
        border:none;
    }

    .coding .myslider > div img {
        width: 100%;
    }

    .coding .myslider {
        width: 300px;
        margin: auto;
        margin-bottom: 1rem;
    }

    .web .row .image {
        position: relative;
        top: 50px;
        left: 19%;
        padding-bottom: 15rem;
    }

    .web .row .image img {
        width: 60%;
    }
    .btn {
        position: relative;
        top: 20px;
        left: 3px;
        padding: 0.3rem 2rem;
        font-size: 1.5rem;
        margin-top: 4rem;
        cursor: pointer;
        border: none;
        background: #fff;
        color: #333;
    }

    .btn:hover{
        background:#333;
        color:#fff;
    }
    
    .skill .box-container {
    margin-bottom: 30px;
    
    }

    .etitle {
    font-size: 2rem;
    padding: 2rem 1rem;
  
    }
    .etext {
        font-size: 1.5rem;
        padding: 2rem 1rem;
        margin-bottom: 4rem;
    }
    
    

}